
    .target::-webkit-scrollbar {
        display: none;
      }
      .item
      {
        /* padding: 1rem; */
        margin: 1rem;
      }
      /* Hide scrollbar for IE, Edge and Firefox */
      .target{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        margin: auto;
       row-gap: 1rem;
      }
    